/* Importação da fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Resetando estilos padrões de margens, padding e fontes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Definindo variáveis de cores */
:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#1e1c2a;
}

/* Estilos gerais do corpo */
body{
    color: var(--dark);
    background: var(--white);
}

/* Estilo do menu de navegação */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}

/* Logo com destaque nas cores */
.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span{
    color: var(--dark);
}

/* Menu de navegação horizontal */
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

/* Estilos do link no menu */
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover{
    color: var(--red);
}

/* Ícone de busca */
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

/* Menu para mobile - inicialmente escondido */
.menu{
    cursor: pointer;
    display: none;
}

/* Estilo das barras do menu hamburguer */
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

/* Mudança de cor das barras do menu hamburguer */
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}

/* Estilos da seção inicial da página */
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

/* Estilos do texto principal na seção home */
.home-text{
    max-width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}

/* Estilos do botão "Order yours" */
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover{
    background: #fc4c35;
}

/* Estilo da imagem na seção home */
.home-img img{
    width: 100%;
}

/* Media query para telas menores (responsive) */
@media (max-width:785px) {
    /* Estilos para navegação em telas pequenas */
    .navigation{
        padding: 18px 20px;
    }

    .menu{
        display: block;
    }

    /* Animação para o menu hamburguer */
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Estilo do menu de navegação em telas pequenas */
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo{
        right: 0;
    }

    .nav-item{
        margin: 16px 0;
    }

    /* Estilos da seção home em telas pequenas */
    /*main */
    .home{
        padding: 100px 2%;
        flex-direction: column; /*um abaixo do outro*/
        text-align: center; /*centralizar home-text no meio*/
        /*para não aparecer a barra de rolagem, respeitando o tamanho*/
        gap: 5rem;
    }

    .home .text-h4{
        font-size: 15px;
    }

    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p{
        font-size: 15px;
    }

    .home-img{
        width: 125%;
    }
}
