@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* o elemento se ajusta na tela e evita ficar maior do que o esperado. */
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Variáves */
:root {
    --red: #d63a25;
    --white: #fff;
    --dark: #1e1c2a;
}

body {
    color: var(--dark);
    background: var(--white);
}

/* Estilo do menu de navegação */
.navigation {
    display: flex;
    /*para deixar lado a lado*/
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    /* box-shadow: X Y Blur Spread Color;  
   - 0 → Sem deslocamento horizontal (sombra centralizada).  
   - 0.1rem → Pequeno deslocamento vertical (sombra levemente abaixo do elemento).  
   - 0.5rem → Nível de desfoque da sombra (mais alto = mais difusa).  
   - Sem valor de espalhamento (spread), então usa o padrão (0).  
   - #ccc → Cor cinza claro.  
   Resultado: Efeito sutil de elevação, destacando o elemento da tela. */
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    /*vai ficar fixo no topo, mesmo ao rolar a página*/
    position: fixed;
}

.navigation .logo {
    color: var(--red);
    font-size: 1.7rem;
    /*1 rem = 16px*/
    font-weight: 600;
}

.logo span {
    color: var(--dark);
}

/* Menu de navegação horizontal */
.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

/* Estilos do link no menu */
.navigation ul li a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: var(--red);
}

/* Ícone de busca */
.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}

/* Menu para mobile - inicialmente escondido */
.menu {
    cursor: pointer;
    display: none;
}

/* Estilo das barras do menu hamburguer */
.menu .bar {
    display: block;
    /*um abaixo do outro = dividiu-se em três*/
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

/* Mudança de cor das barras do menu hamburguer */
.menu .bar:nth-child(1),
/*primeira barra*/
.menu .bar:nth-child(3) {
    /*terceira barra*/
    background: var(--red);
}

/* Estilos da seção inicial da página */
.home {
    width: 100%;
    height: 100vh;
    /*irá preencher toda a tela do usuário*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

/* Estilos do texto principal na seção home */
.home-text {
    max-width: 37rem;
    /*não poderá ultrapassar disso.*/
}

.home-text .text-h4 {
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
    /*o texto sobe. margin-bottom dá um espaço embaixo.*/
}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4.3rem;
    /*altura da linha*/
}

.home-text p {
    margin-bottom: 4rem;
    text-align: justify;
}

.home-btn {
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover {
    background: #fc4c35;
}

.home-img img {
    width: 100%;
}

/* Media query para telas menores (responsive) */
@media (max-width:785px) {

    /* Estilos para navegação em telas pequenas */
    .navigation {
        padding: 18px 20px;
    }

    .menu {
        display: block;
        /*aqui o menu é ativado*/ 
    }

    /* Animação para o menu hamburguer */
    /* A classe ('ativo') foi criada no JS*/
    /*criação do formato X*/
    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
        /*a segunda barra desaparece*/
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Estilo do menu de navegação em telas pequenas */
    .nav-menu {
        position: fixed;
        /*ao rolar a página, o menu fica fixo no topo*/
        right: -100%;
        /*Inicialmente, o menu está fora da tela (escondido).*/
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
        /*quando o menu está ativo, ele fica visível movendo-se para a direita*/
    }

    .nav-item {
        margin: 12px 0;
        /*Define um espaçamento de 16px entre os itens do menu, para melhor organização.*/
    }

    /* Estilos da seção home em telas pequenas */
    /*main */
    .home {
        padding: 100px 2%;
        flex-direction: column;
        /*um abaixo do outro*/
        text-align: center;
        /*centralizar home-text no meio*/
        gap: 5rem;
    }

    .home .text-h4 {
        font-size: 15px;
    }

    .home .text-h1 {
        font-size: 2.5rem;
        line-height: 3rem;

    }

    .home p {
        font-size: 15px;
        padding:0 3%;
    }

    .home-img {
        width: 125%;
        /*Aumenta a imagem para 125% da largura original, garantindo que fique proporcional ao layout ajustado.*/
    }
}